@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<лр5.Models.seaq2_Result>

<meta charset="utf-8">

@{
    ViewBag.Title = "Лекарства с данным названием, нужные больницам";
}


<table class="table">
    <tr>
        <th>
            Номер больницы
        </th>
        <th>
            Название лекарства
        </th>
        <th>
            Количество упаковок
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idHospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_of_medicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity_of_packs)
            </td>
        </tr>
    }

</table>

<!--@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}-->
